{% extends "task_manager/base.html" %}
{% load bootstrap5 %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Вход</h1>
    {% if form.errors %}
        <div class="alert alert-danger">
            Имя пользователя или пароль указаны неверно. Пожалуйста, попробуйте снова.
        </div>
    {% endif %}
    
    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-danger">
                У вас нет прав для доступа к этой странице.
            </div>
        {% endif %}
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_username" class="form-label">Имя пользователя</label>
            <input type="text" name="username" class="form-control" placeholder="Имя пользователя" required id="id_username">
        </div>
        
        <div class="mb-3">
            <label for="id_password" class="form-label">Пароль</label>
            <input type="password" name="password" class="form-control" placeholder="Пароль" required id="id_password">
        </div>
        
        <div class="mb-3 form-check">
            <input type="checkbox" name="remember" class="form-check-input" id="id_remember">
            <label class="form-check-label" for="id_remember">Запомнить меня</label>
        </div>
        
        <input type="hidden" name="next" value="{{ next }}">
        
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>
{% endblock %}