{% extends "task_manager/base.html" %}
{% block title %}Пользователи{% endblock %}
{% block content %}
<h1>Пользователи</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Полное имя</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.profile.full_name }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
                <a href="{% url 'user_update' user.id %}" class="btn btn-primary">Изменить</a>
                <a href="{% url 'user_delete' pk=user.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}