{% extends "task_manager/base.html" %}
{% load bootstrap5 %}

{% block title %}Изменение задачи{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Изменение задачи</h1>
    
    {% if messages %}
    <div class="messages mb-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">Имя</label>
            {% bootstrap_field form.name show_label=False %}
            {{ form.name.errors }}
        </div>
        
        <div class="mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">Описание</label>
            {% bootstrap_field form.description show_label=False %}
            {{ form.description.errors }}
        </div>
        
        <div class="mb-3">
            <label for="{{ form.status.id_for_label }}" class="form-label">Статус</label>
            {% bootstrap_field form.status show_label=False %}
            {{ form.status.errors }}
        </div>
        
        <div class="mb-3">
            <label for="{{ form.executor.id_for_label }}" class="form-label">Исполнитель</label>
            {% bootstrap_field form.executor show_label=False %}
            {{ form.executor.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.labels.id_for_label }}" class="form-label">Метки</label>
            {% bootstrap_field form.labels show_label=False %}
            {{ form.labels.errors }}
        </div>
        
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
</div>
{% endblock %}